/* How tf do I get comic sans on linux fr */

body {
    font-family: monospace;
}

header {
    text-align: center;
}

main {
    position: relative;
    left: 5%;
    margin-top: 5rem;
}

img {
    float: left;
    margin-right: 2rem;
}

#doom_ascii_logo, ul>li:hover {
    background: radial-gradient(ellipse, #ff0000, #fc8207, #fcfc07);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

footer {
    position: absolute;
    bottom: 1rem;
    right: 1rem
}